#submit_button
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
}
#guest_list
{
	border: 1px solid green;
    padding: 10px;
	background-color: greenyellow;
	border-radius: 10px;
    width: 50%;
}

#sorted_guest_list
{
	border: 1px solid red;
    padding: 10px;
    background-color: lightcoral;
	border-radius: 10px;
    width: 50%;
}
